
/*Color Refrences*/
:root {
  --primary: #17112d;
  --secondary: #44bcd9;
  --tertiary: #b078a1;
  --dark: #423859;
  --light: #251c39;
  --textcolor: #fff;
}
/* Nav Bar */
.nav {
    display: flex;
    justify-content: end;
    overflow: hidden;
    background-color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
}
/*Nav Bar placement*/
.nav a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
}
/* Nav Bar hover color*/
.nav a:hover {
  background-color: var(--light);
}
