body {
  background-color: hsl(250, 43%, 97%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Color Refrences*/
:roo {
  --primary: #17112d;
  --secondary: #44bcd9;
  --tertiary: #b078a1;
  --dark: #423859;
  --light: #251c39;
}

header h1 {
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 3vw;
  line-height: 0;
  font-weight: lighter;
}
nav {
background-color: #251c39;
width: 15%;
 border: 2px solid #b078a1;
padding: 0% 2%;

}
header {
  border: 1px solid black;
  background-color: #251c39;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 80px;
}
img {
  height: auto;
width: fit-content;
align-self: stretch;
}
